
.idea/inspectionProfiles/profiles_settings.xml
.idea/Aulas-Python.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Mundo 2/.idea/inspectionProfiles/profiles_settings.xml
Mundo 2/.idea/misc.xml
Mundo 2/.idea/modules.xml
Mundo 2/.idea/Mundo 2.iml
Mundo 2/.idea/vcs.xml
Mundo 2/.idea/workspace.xml
.idea/workspace.xml
